<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>QRCoder scanner</ion-title>
  </ion-navbar>
</ion-header>

<!-- camera scan QRcode -->
<ion-content [class.scanning]="displayCamera()" padding>

  <!-- state -> before -->
  <div *ngIf="state == 'before'" >
    <h1>Installation de la course</h1>
    <p style="text-align: justify;">
      Pour commencer une course veuillez scanner le QRcode de configuration.<br/><br/>
      Pour cela cliquer sur "Commencer"
    </p>
    <div style="text-align: center">
      <button  style="background-color: blue;" ion-button (click)="startScanning()">Commencer</button>
    </div>
  </div>

   <!-- state -> ready -->
   <div *ngIf="state == 'ready'">
    <h1 style="text-shadow: 1px 0px 0 white, 0 1px 0 white, 0 -1px 0 white, -1px 0 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;">Scannez le QR Code de configuration</h1>
  </div>

  <!-- state -> started -->
  <div *ngIf="state == 'started'">
    <h1>Scannez le QR Code de départ</h1>
  </div>

  <!-- state -> ended -->
  <div *ngIf="state == 'ended'">
    <h1>Fin</h1>
    <p>
      Vous avez terminer l'installation de la courses, il faut maintenant vous connecter à internet pour envoyer les données au serveur.
    </p>
  </div>

  <qrcodescan [hidden]="!displayCamera()"></qrcodescan>

</ion-content>


