<ion-header>
  <ion-navbar>
    <ion-title>oriTrail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="accueil">
    <p>
        Bienvenue sur la page d'accueil d'Oritrail
      </p>
  <div class="user">
    <h3>Espace membre</h3>
    <p *ngIf="connecter == 'non'">
      <button ion-button (click)="seconnecter()">Se connecter</button>
      <button ion-button (click)="sinscrire()">S'enregistrer</button>
    </p>
    <p *ngIf="connecter == 'oui'">
        <span>{{userInfo}}</span> !
        <button ion-button (click)="sedeconnecter()">Se déconnecter</button>
    </p>
  </div>
  <div class="run" *ngIf="state != 'resultat'">
    <h3>Espace course</h3>
     
    <p>
      <button ion-button (click)="installerCourse()">Installer une course</button>
      <button ion-button (click)="participerCourse()">Participer à une course</button>
    </p>
  </div>
  <div *ngIf="state == 'resultat'">
    <div class="resultat">
      <h3>Envoyer <span *ngIf="mode == 'course'">les résultats</span><span *ngIf="mode == 'installation'">l'installation</span></h3>
      <div>
        <p>{{envoyer}}</p>
      </div>
      <p *ngIf="connecter == 'oui'">
        <button *ngIf="mode == 'course'" ion-button (click)="envoyerResultat()">Envoyer les résultats course</button>
        <button *ngIf="mode == 'installation'" ion-button (click)="envoyerInstallation()">Envoyer l'installation de la course</button>
      </p>
      <p *ngIf="connecter == 'non'">
        Veuillez commencer par vous connecter pour envoyer les résultats
      </p>
    </div>
  </div>
</ion-content>
